/* import google font */
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@500&family=Kalam:wght@700&family=Oxygen:wght@300;400&family=Poppins:wght@500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* top view design */
.upper-background {
    display: flex;
    position: relative;
    margin-top: 50px;
    background-color: black;
    width: 1321px;
    height: 646px;
    border-radius: 30px;
    left: 15%;
}

/* top view hover  */
.upper-background:hover {
    background-color: #B9B9B9;
    border-radius: 30px;
    transition: 0.5s ease-in;
    border: 1px solid black;
}

.upper-panel {
    padding: 35px;
    color: white;
    width: 531px;
    height: 424px;

}

.upper-background:hover .upper-panel {
    color: #161616;

}

.upper-panel h2 {
    font-size: 70px;
    line-height: 80px;

}

.upper-panel p {
    padding-bottom: 20px;
}

/* button design for top view */
.link-button {
    text-decoration: none;
    background: #DD0000;
    border-radius: 5px;
    width: 187px;
    height: 56px;
    padding: 16px 25px;
    color: white;
    gap: 10px;
}

#border-img {
    display: flex;
    position: relative;
    left: 90px;
    top: 33px;
    justify-content: flex-end;
    width: 581px;
    height: 613px;
}

/* mid view design */
.mid-panels {
    display: grid;
    grid-template-columns: repeat(2, 631px);
    row-gap: 10px;


}

.mid-background {
    display: flex;
    justify-content: flex-start;
    position: relative;
    left: 44%;
    width: 312px;
    height: 312px;
    background: #161616;
    border-radius: 10px;
    margin-top: 40px;
}

.mid-panel nav {
    display: flex;
    position: relative;
    right: 12px;
    justify-content: center;
}

/* mid left button design */
.btn-color {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    text-decoration: none;
    text-align: center;
    width: 252px;
    height: 64px;
    border-radius: 10px;
    padding: 25px 40px;
}

.btn-color a {
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
}

#white {
    text-decoration: none;
    background: white;
    color: black;
    font-weight: 500;
    font-size: 20px;
}

#red {
    text-decoration: none;
    background: #DD0000;
    color: white;
    font-weight: 500;
    font-size: 20px;
}

/* mid right design */
.right-panel {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 15px;
    padding-top: 38px;
    row-gap: 15px;

}

.inner-panel {
    width: 312px;
    height: 362px;
    border: 1px solid rgba(196, 194, 194, 0.918);
    border-radius: 10px;
}

.logo {
    border: 1px solid gray;
    border-radius: 5px;
    margin: 5px;
}

.right-panel h3,
p {
    margin: 5px;

}

#logo-design {
    display: flex;
    flex-direction: row;
    font-family: initial;
    font-style: normal;
    margin-left: 5px;
    margin-top: 30px;
}

#logo-design div {
    margin-right: 25px;
}

/* footer design */
.finishing-touch {
    background-color: black;
    color: #FFFFFF;
    text-align: center;
    margin-top: 100px;
}

#alignment {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: row;
}

#alignment p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin: 20px;
    padding-bottom: 100px;
}

#alignment a {
    text-decoration: none;
    color: #B9B9B9;
}

.finishing-touch h2 {
    font-size: 30px;
    padding: 70px;
}

/* blog panal/2nd page design */
#blog {
    display: flex;
    align-items: center;
    justify-content: center;
}

#blog img {

    padding: 20px;
    width: 93.04px;
    height: 56.18px;
}

.blog-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 312px;
    height: 242px;
    border: 1px solid rgba(196, 194, 194, 0.918);
    border-radius: 10px;
}

.blog-text span {
    color: #4D4D4D;
}

.bottom-button {
    display: none;
}

/* for tablet device */
@media only screen and (min-width: 784px) and (max-width: 992px) {

    .upper-background {
        width: 734px;
        height: 398px;
        justify-content: center;
        left: 20px;
    }

    .upper-panel h2 {
        font-size: 40px;
        line-height: 50px;
    }

    .upper-panel p {
        font-size: 14px;
        height: 30px;
        width: 300px;
        overflow-y: scroll;
        margin-bottom: 40px;
    }

    #border-img {
        width: 323px;
        height: 340px;
        left: 0.5px;
        top: 57px;
    }

    .mid-panels {

        grid-template-columns: repeat(1, 350px);
        align-items: center;
        background-color: none;
    }

    .mid-panel nav {
        justify-content: flex-end;
    }


    .mid-background {
        background: none;
    }

    .btn-color {
        position: relative;
        grid-template-columns: repeat(3, 250px);
        width: 230px;
        height: 64px;
        padding: 25px 40px;
        justify-content: center;
        left: 90px;
        margin-bottom: 0%;
        padding-bottom: 0%;
    }

    .btn-color a {
        grid-template-columns: repeat(3, 1fr);
        background: #FFFFFF;
        border: 1px solid #E8E8E8;
    }

    .right-panel {
        grid-template-columns: repeat(2, 1fr);
        padding-left: 62px;
        margin-top: -200px;
        top: 100px;

    }

    .bottom-button {
        display: inline;
        text-decoration: none;
        background: #DD0000;
        border-radius: 5px;
        width: 187px;
        height: 56px;
        padding: 16px 25px;
        color: white;
        gap: 10px;
        position: relative;
        left: 330px;
        top: 50px;
        justify-content: center;
        margin-top: 30px;
    }
}

/* for smartphone */
@media only screen and (max-width: 784px) {

    .upper-background {
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        width: 334px;
        height: 472px;
        justify-content: center;
        align-items: center;
        left: 53px;
    }

    .upper-panel h2 {
        display: block;
        position: relative;
        font-size: 20px;
        line-height: 33px;
        text-align: center;
        bottom: 35px;
    }

    .link-button {
        position: relative;
        left: 190px;
        top: -45px;
    }

    .upper-panel p {
        position: relative;
        font-size: 14px;
        height: 30px;
        width: 300px;
        overflow-y: scroll;
        margin-bottom: 40px;
        line-height: 24px;
        left: 110px;
        bottom: 40px;
        text-align: center;
    }

    #border-img {
        width: 233px;
        height: 245px;
        left: 200px;
        top: -267px;
    }

    .mid-panels {

        grid-template-columns: repeat(1, 350px);
        align-items: center;
        background-color: none;
    }

    .mid-panel nav {
        justify-content: flex-end;
    }


    .mid-background {
        background: none;
    }

    .btn-color {
        position: relative;
        grid-template-rows: 120px, 100px, 100px;
        padding: 25px 40px;
        justify-content: center;
        align-items: center;
        right: 28%;
        top: 40%;
    }

    .btn-color a {
        grid-template-rows: repeat(3, 1fr);
        background: #FFFFFF;
        border: 1px solid #E8E8E8;
    }

    .right-panel {
        grid-template-columns: repeat(1, 1fr);
        padding-left: 62px;
        margin-top: -35px;
        top: 100px;

    }

    #alignment {
        flex-direction: column;
    }

    #alignment p {
        padding-bottom: 10px;
    }


}